<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<div id="header">
			<h1>Catalog</h1>
			
		</div>

		
		<div id="nav">
		
			<a href= '/'> Home </a>
			</br>
			{% for c in categories %}
				<a href= "{{url_for('view_category_items', category_id = c.id)}}">{{c.name}}</a>
			{% endfor %}
			<a href= '{{url_for('gdisconnect')}}'>Logout</a>



		</div>	
		<div id="section">
			<form action="{{url_for('add_item')}}" method ='POST'>
				<label>Item Name:</label>
				<input type="text" size="30" name="name">
				<br />
				<br />
				<label>Description:</label>
				<input type="textarea" name="description">
				<br />
				<br />
				<label>Category:</label>
				<select name="category_dropdown">
					{% for i in categories %}
					<option value="{{i.id}}">{{i.name}}</option>
					{% endfor %}
					
				</select>
				<br />
				<br />
				<input type='submit' value='Create'>
			</form>

		</div>	
		


	</body>


</html>

